{
  "PROJECT": "MyJCLProject",
  "SYSTEM": "LWM",
  "FILE": "MYJOB",
  "EXT": "jcl",
  "PATH": "./source_jcl",
  "LIB": [
    "./proc_library",
    "./include_library"
  ],
  "DATABASE": "jcl_db",
  "USER": "postgres",
  "PASSWORD": "your_password_here",
  "DROP_TABLES": "True",
  "OUTPUT": "B",
  "LOG": "True"
}